* {
  margin: 0 auto;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  border: none;
  font-style: italic;
  text-align: center;
  vertical-align: middle;
}

html {
  min-width: 319px;
  min-height: 319px;
  width: 100vw;
  height: 100vh;
  background-color: ivory;
  cursor: default;
}

body {
  min-width: 319px;
  max-width: 750px;
  min-height: 319px;
  background: url(../IMAGES/PortFoli_2.png) no-repeat center bottom local;
  background-size: auto 100%;
  width: 100vw;
  height: 100vh;
}

#main-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  min-width: 319px;
  height: 50px;
  background-color: #36454f;
}
@media screen and (max-width: 389px) {
  #main-header {
    box-shadow: none;
  }
}

#main-nav {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
}
#main-nav img {
  float: left;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-right: 15px;
}

.main-nav-button {
  float: left;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 100%;
  color: ivory;
  text-transform: capitalize;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 2px solid ivory;
}
.main-nav-button:first-child {
  border-left: 0px;
}
.main-nav-button:last-child {
  border-right: 0px;
}
@media screen and (max-width: 389px) {
  .main-nav-button {
    font-size: 90%;
  }
}

#main-main {
  position: fixed;
  top: 50px;
  width: 100%;
  margin: 0 auto;
  min-width: 319px;
  max-width: 750px;
  min-height: 269px;
}

.content-main-information {
  word-wrap: break-word;
  color: ivory;
  background-color: rgba(54, 69, 79, 0.7);
}
.content-main-information:nth-child(n+2) {
  display: none;
}
.content-main-information p {
  padding: 15px;
  text-align: left;
}

.space {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nospace {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#project-container {
  display: block;
  overflow: hidden;
  height: 1%;
  padding: 15px;
}
#project-container .project-holder {
  width: 100%;
  margin-bottom: 15px;
  display: block;
  overflow: hidden;
  height: 1%;
  min-height: 15px;
}
#project-container .project-holder:last-child {
  margin-bottom: 0px;
}
#project-container .project-holder h3 {
  height: 25px;
  line-height: 25px;
  text-align: center;
  text-transform: capitalize;
  background-color: rgba(54, 69, 79, 0.7);
}
#project-container .project-holder:nth-child(1) .project-main-image {
  background: url(../IMAGES/PROJECTS/year-1_homepage.png) no-repeat center center;
  overflow: hidden;
  width: 100%;
  background-size: auto 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: black;
}
#project-container .project-holder:nth-child(2) .project-main-image {
  background: url(../IMAGES/PROJECTS/app-1-homepage.png) no-repeat center center;
  overflow: hidden;
  width: 100%;
  background-size: auto 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: black;
}
#project-container .project-holder:nth-child(3) .project-main-image {
  background: url(../IMAGES/PROJECTS/app-2-homepage.png) no-repeat center center;
  overflow: hidden;
  width: 100%;
  background-size: auto 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: black;
}
#project-container .project-holder .project-skills-holder {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#project-container .project-holder .project-skills-holder .project-skills {
  float: left;
  width: 25px;
  height: 25px;
  -webkit-filter: grayscale(1);
}
#project-container .project-holder .project-skills-holder .project-skills:hover {
  -webkit-filter: grayscale(0);
}
#project-container .project-holder .project-skills-holder .project-skills:nth-child(n+2) {
  margin-left: 5px;
}
#project-container .project-holder figcaption {
  padding: 15px;
  margin-top: 5px;
  background-color: rgba(54, 69, 79, 0.7);
}
@media screen and (max-width: 389px) {
  #project-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#project-container .project-holder:nth-child(1) .project-skills-holder .project-skills:nth-child(1) {
  background: url(../IMAGES/SKILLS/HTML5.png) no-repeat center center;
  background-size: 90% auto;
}

#project-container .project-holder:nth-child(1) .project-skills-holder .project-skills:nth-child(2) {
  background: url(../IMAGES/SKILLS/CSS3.png) no-repeat center center;
  background-size: 90% auto;
}

#project-container .project-holder:nth-child(1) .project-skills-holder .project-skills:nth-child(3) {
  background: url(../IMAGES/SKILLS/JS.png) no-repeat center center;
  background-size: 90% auto;
}

#project-container .project-holder:nth-child(2) .project-skills-holder .project-skills:nth-child(1) {
  background: url(../IMAGES/SKILLS/HTML5.png) no-repeat center center;
  background-size: 90% auto;
}

#project-container .project-holder:nth-child(2) .project-skills-holder .project-skills:nth-child(2) {
  background: url(../IMAGES/SKILLS/CSS3.png) no-repeat center center;
  background-size: 90% auto;
}

#project-container .project-holder:nth-child(2) .project-skills-holder .project-skills:nth-child(3) {
  background: url(../IMAGES/SKILLS/JS.png) no-repeat center center;
  background-size: 90% auto;
}

#project-container .project-holder:nth-child(2) .project-skills-holder .project-skills:nth-child(4) {
  background: url(../IMAGES/SKILLS/SASS.png) no-repeat center center;
  background-size: 90% auto;
}

#project-container .project-holder:nth-child(2) .project-skills-holder .project-skills:nth-child(5) {
  background: url(../IMAGES/SKILLS/JQUERY.png) no-repeat center center;
  background-size: 90% auto;
}

#project-container .project-holder:nth-child(2) .project-skills-holder .project-skills:nth-child(6) {
  background: url(../IMAGES/SKILLS/JQUERYMOBILE.png) no-repeat center center;
  background-size: 90% auto;
}

#project-container .project-holder:nth-child(3) .project-skills-holder .project-skills:nth-child(1) {
  background: url(../IMAGES/SKILLS/HTML5.png) no-repeat center center;
  background-size: 90% auto;
}

#project-container .project-holder:nth-child(3) .project-skills-holder .project-skills:nth-child(2) {
  background: url(../IMAGES/SKILLS/CSS3.png) no-repeat center center;
  background-size: 90% auto;
}

#project-container .project-holder:nth-child(3) .project-skills-holder .project-skills:nth-child(3) {
  background: url(../IMAGES/SKILLS/JS.png) no-repeat center center;
  background-size: 90% auto;
}

#project-container .project-holder:nth-child(3) .project-skills-holder .project-skills:nth-child(4) {
  background: url(../IMAGES/SKILLS/SASS.png) no-repeat center center;
  background-size: 90% auto;
}

#project-container .project-holder:nth-child(3) .project-skills-holder .project-skills:nth-child(5) {
  background: url(../IMAGES/SKILLS/JQUERY.png) no-repeat center center;
  background-size: 90% auto;
}

#project-container .project-holder:nth-child(3) .project-skills-holder .project-skills:nth-child(6) {
  background: url(../IMAGES/SKILLS/JQUERYMOBILE.png) no-repeat center center;
  background-size: 90% auto;
}

#project-container .project-holder:nth-child(3) .project-skills-holder .project-skills:nth-child(7) {
  background: url(../IMAGES/SKILLS/PHP.png) no-repeat center center;
  background-size: 90% auto;
}

#project-container .project-holder:nth-child(3) .project-skills-holder .project-skills:nth-child(8) {
  background: url(../IMAGES/SKILLS/MYSQL.png) no-repeat center center;
  background-size: 90% auto;
}

#project-container .project-holder:nth-child(3) .project-skills-holder .project-skills:nth-child(9) {
  background: url(../IMAGES/SKILLS/AJAX.png) no-repeat center center;
  background-size: 90% auto;
}

#skills-container {
  display: block;
  overflow: hidden;
  height: 1%;
  padding: 15px;
}
#skills-container .skills-section {
  display: block;
  overflow: hidden;
  height: 1%;
  list-style-type: none;
}
#skills-container .skills-section .skills-definition {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 150%;
  text-transform: capitalize;
  background-color: rgba(54, 69, 79, 0.7);
}
#skills-container .skills-section .skills-box {
  float: left;
  width: 25%;
  display: block;
  overflow: hidden;
  height: 1%;
}
@media screen and (max-width: 389px) {
  #skills-container .skills-section .skills-box {
    width: 50%;
  }
}
@media screen and (min-device-width: 390px) and (max-device-width: 549px) {
  #skills-container .skills-section .skills-box {
    width: 33%;
  }
}
#skills-container .skills-section .skills-box .skills-image {
  width: 100%;
  -webkit-filter: grayscale(1);
}
#skills-container .skills-section .skills-box .skills-image:hover {
  -webkit-filter: grayscale(0);
}
#skills-container .skills-section .skills-box figcaption {
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 100%;
  text-transform: uppercase;
}
#skills-container .skills-section:first-child {
  margin-bottom: 15px;
}
#skills-container .skills-section:first-child .skills-box:nth-child(2) .skills-image {
  background: url(../IMAGES/SKILLS/HTML5.png) no-repeat center center;
  background-size: 90% auto;
}
#skills-container .skills-section:first-child .skills-box:nth-child(3) .skills-image {
  background: url(../IMAGES/SKILLS/CSS3.png) no-repeat center center;
  background-size: 90% auto;
}
#skills-container .skills-section:first-child .skills-box:nth-child(4) .skills-image {
  background: url(../IMAGES/SKILLS/JS.png) no-repeat center center;
  background-size: 90% auto;
}
#skills-container .skills-section:first-child .skills-box:nth-child(5) .skills-image {
  background: url(../IMAGES/SKILLS/SASS.png) no-repeat center center;
  background-size: 90% auto;
}
#skills-container .skills-section:first-child .skills-box:nth-child(6) .skills-image {
  background: url(../IMAGES/SKILLS/JQUERY.png) no-repeat center center;
  background-size: 90% auto;
}
#skills-container .skills-section:first-child .skills-box:nth-child(7) .skills-image {
  background: url(../IMAGES/SKILLS/JQUERYMOBILE.png) no-repeat center center;
  background-size: 90% auto;
}
#skills-container .skills-section:first-child .skills-box:nth-child(8) .skills-image {
  background: url(../IMAGES/SKILLS/R.png) no-repeat center center;
  background-size: 90% auto;
}
#skills-container .skills-section:last-child .skills-box:nth-child(2) .skills-image {
  background: url(../IMAGES/SKILLS/PHP.png) no-repeat center center;
  background-size: 90% auto;
}
#skills-container .skills-section:last-child .skills-box:nth-child(3) .skills-image {
  background: url(../IMAGES/SKILLS/MYSQL.png) no-repeat center center;
  background-size: 90% auto;
}
#skills-container .skills-section:last-child .skills-box:nth-child(4) .skills-image {
  background: url(../IMAGES/SKILLS/AJAX.png) no-repeat center center;
  background-size: 90% auto;
}
#skills-container .skills-section:last-child .skills-box:nth-child(5) .skills-image {
  background: url(../IMAGES/SKILLS/JAVA.png) no-repeat center center;
  background-size: 90% auto;
}
#skills-container .skills-section:last-child .skills-box:nth-child(6) .skills-image {
  background: url(../IMAGES/SKILLS/MONGODB.png) no-repeat center center;
  background-size: 90% auto;
}
@media screen and (max-width: 389px) {
  #skills-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  #skills-container .skills-columns {
    float: clear;
    width: 100%;
  }
  #skills-container .skills-columns:first-child {
    margin-bottom: 15px;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(54, 69, 79, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(54, 69, 79, 0.3);
  -ms-box-shadow: inset 0 0 6px rgba(54, 69, 79, 0.3);
  -o-box-shadow: inset 0 0 6px rgba(54, 69, 79, 0.3);
  box-shadow: inset 0 0 6px rgba(54, 69, 79, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 240, 0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 240, 0.4);
}
